/* chrome app scrollbar settings */
::-webkit-scrollbar {
  width: 3px;
  background: #ccc;
  opacity: .3;
}
::-webkit-scrollbar-button {
  display: none
}
::-webkit-scrollbar-piece {
  background:#eee
}
::-webkit-scrollbar-thumb {
  background:#666
}

/* hide mobg sidebar */
.jssdk nav {
	display: none !important;
}
/* remove mobg sidebar margin */
.jssdk > div > div:last-child {
  margin-left: 0 !important;
}

/* hide right side submenu */
.jssdk #submenu {
  display: none !important;
}
