$mainHeaderHeight: 40px;

$standardWhite: rgb(242, 238, 226);
$standardBlack: #1f1f1f;

@mixin setColor ($color) {
  background-color: $color;
    text-shadow:
      -1px -1px 2px $color,
      1px -1px 2px $color,
      -1px 1px 2px $color,
      1px 1px 2px $color;
  border-color: $color;
}

@mixin gradient-text($gradient, $bg : 'light') {
  @supports(mix-blend-mode: lighten) {
    /*
    display: inline-block;
    position: relative;
    */

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      
      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}